{% extends 'read/base.html' %}

{% load static %}

{% block title %}Title deh{% endblock %}

{% block content %}

    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Aspirasi List</h2>
                    <p>Mohon kepada para staff membaca aspirasi masyarakat dan melakukan tindakan lebih lanjut apabila di perlukan.</p>
                </div>
                <div class="block-content">
                    {% for post in object_list %}
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-7 mx-auto">
                                <h3>{{ post.title }}</h3>
                                <div class="info"><span class="text-muted">{{ post.date_created | date:"M d, Y - H:i"}} by&nbsp;<a href="#">{{ post.penduduk }}</a></span></div>
                                <p>{{ post.jenis_aspirasi }} - {{ post.lokasi }}</p>
                                <a class="btn btn-outline-primary btn-sm" href="{{ post.get_absolute_url }}">Read More</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}
